header {
  background: #ffffff;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.08);
  height: 60px;
  // padding-top: 4px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   z-index: 10;

  // right:0;
}

.content {
  text-transform: uppercase;
  margin-right: 2em;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 820px) {
  header {
    padding-top: 10px;
  }

  .content {
    text-transform: uppercase;
    margin-right: 1em;
    font-size: 16px;
    font-weight: 600;
  }

  div:first-child {
    flex: 1;
  }
  svg {
    width: 100%;
  }

  // svg{
  //   width: 120px;
  // }
}
