main{
    padding: 70px 0;
}

.card{
    width:21rem;
    min-height:20rem;
    // background: #292a2d;
    border:none;
    margin:auto;
    // color: rgb(255, 255, 255) !important;

}


.card-body > h5{
    text-align: center;
}
.pass{
    text-align: right;
    text-decoration: underline;
}

small{
    color: red !important;
}


form {
    margin-top: 40px;
}

.btn-container{
    margin-top: 2em;
    /* margin-bottom: 5em; */
    text-align: center;
}


button{
    border-radius:20px;
    padding: 10px 30px 10px 30px;
}

.qtnsContainer{
    width: 80%;
    margin: auto;
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .card{
        width:18rem;
       margin:auto
    }

}