<main>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ADD QUESTION</h5>
      <form action="" #form="ngForm" (ngSubmit)="createQtn()">
        <!-- <small *ngIf="errormsg">{{errormsg}}</small> -->

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >question</label
          >
          <input
            type="text"
            #titleField="ngModel"
            class="form-control"
            [(ngModel)]="selectedQtn.question"
            required
            name="question"
            placeholder="question"
          />
          <!-- <small [hidden] = "titleField.valid || titleField.untouched">service name is required</small> -->
        </div>

        <div class="mb-3">
          <select
            class="form-select"
            id="inputGroupSelect04 teamInput"
            aria-label="Example select with button addon"
            name="team"
            [(ngModel)]="qtn.type"
            (change)="selected($event)"
          >
            <option value="" disabled selected>Please Select type</option>
            <option value="single" >Single</option>
            <option value="multiple" >Multiple</option>
            <option value="text" >Text</option>
          </select>
        </div>

        <div class="mb-3" *ngIf="qtn.type === 'text'">
          <label for="exampleFormControlInput1" class="form-label"
            >percentage</label
          >
          <input
            type="text"
            #authorField="ngModel"
            class="form-control"
            [(ngModel)]="selectedQtn.percentage"
            required
            name="percenteage"
            placeholder="percentage"
          />
          <!-- <small [hidden] = "authorField.valid || authorField.untouched">description is required</small> -->
        </div>

        <!-- <div class="mb-3" >
          <label for="exampleFormControlInput1" class="form-label"
            >multiple</label
          >
          <input
            type="text"
            #multiple="ngModel"
            class="form-control"
            [(ngModel)]="selectedQtn.multiple"
            name="multiple"
            placeholder="multiple"
          />
          <small [hidden] = "authorField.valid || authorField.untouched">dynamicinfo is required</small>
        </div> -->

        <div class="mb-3"  *ngIf="qtn.type === 'text'">
          <label for="exampleFormControlInput1" class="form-label"
            >minimum_value</label
          >
          <input
            type="text"
            #minimum_value="ngModel"
            class="form-control"
            [(ngModel)]="selectedQtn.minimum_value"
            name="minimum_value"
            placeholder="minimum_value"
          />
          <!-- <small [hidden] = "authorField.valid || authorField.untouched">dynamicinfo is required</small> -->
        </div>

        <div class="btn-container">
          <button type="submit" class="btn btn-primary mb-3">
            <!-- <span *ngIf ="show" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
