 <div class="main">
  <main>

    <section>
        <div class="example-container">
             <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Number</th>
              <th scope="col">Industry</th>
              <th scope="col">Business name</th>
              <th scope="col">Service</th>
              <th scope="col"></th>
              
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let i of userInput" 
            >
              
              <td>{{i.date}}</td>
              <td>{{i.name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.number}}</td>
              <td>{{i.industry}}</td>
              <td>{{i.business_name}}</td>
              <td>{{i.service}}</td>
        
              <td (click)="routeToDetail( i.realInput )">view</td>

            </tr>
          </tbody>
        </table>
        </div>
    

     
    </section>
  </main>
</div>
 



